langgraph
langchain
langchain_openai 
langchain_community
langchain_core
langchain_huggingface
langserve
langchain-objectbox
langchainhub
langchain-groq
python-dotenv
pydantic
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
cassio
beautifulsoup4
wikipedia
arxiv
PyPDF2
tiktoken

